.icon_card {
  padding-top: var(--ifm-spacing-vertical) !important;
  padding-bottom: var(--ifm-spacing-vertical) !important;
  width: 100%;
}

/*
.icon_card, .icon_card {
  padding-left: var(--ifm-spacing-vertical-x4) !important;
}
*/

.icon_card_inner {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: auto;
  background-color: var(--doit-color-off-white);
  /* filter: opacity(90%); */
  box-shadow: 4px 32px 13px rgba(152, 165, 189, 0.01),
    2px 18px 11px rgba(152, 165, 189, 0.05),
    1px 8px 8px rgba(152, 165, 189, 0.09),
    0px 2px 4px rgba(152, 165, 189, 0.1),
    0px 0px 0px rgba(152, 165, 189, 0.1);
  border-radius: 4px;
  /* editorconfig-checker-disable-next-line */
  transition: all var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.icon_card_inner:hover {
  background-color: var(--doit-color-off-white-lighter);
  /* filter: opacity(100%); */
  box-shadow: 4px 32px 13px rgba(152, 165, 189, 0.02),
    2px 18px 11px rgba(152, 165, 189, 0.1),
    1px 8px 8px rgba(152, 165, 189, 0.18),
    0px 2px 4px rgba(98, 102, 109, 0.2),
    0px 0px 0px rgba(152, 165, 189, 0.2);
  text-decoration: none;
  transform: scale(1.02);
}

.icon_card_inner svg {
  width: 106px;
  height: 106px;
}

.icon_card_inner svg {
  --svg-color-base: var(--doit-color-primary-ink) !important;
  --svg-color-accent: var(--doit-color-primary-spark) !important;
}

.icon_card_inner:hover svg {
  --svg-color-base: var(--doit-color-primary-ink) !important;
  --svg-color-accent: var(--doit-color-primary-spark) !important;
}

.icon_card_title {
  font-weight: var(--ifm-font-weight-bold);
  color: var(--doit-color-primary-ink);
}

@media screen and (max-width: 995px) {
  .icon_card_inner svg {
    margin-top: var(--ifm-spacing-vertical);
  }

  .icon_card_title {
    margin-top: calc(var(--ifm-spacing-vertical) / 2);
    margin-bottom: var(--ifm-spacing-vertical);
  }
}

@media screen and (min-width: 996px) {
  .icon_card_inner svg {
    margin-top: var(--ifm-spacing-vertical-2x);
  }

  .icon_card_title {
    margin-top: var(--ifm-spacing-vertical);
    margin-bottom: var(--ifm-spacing-vertical-2x);
  }
}
