root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 79
trim_trailing_whitespace = true

[{*.md,*.mdx,*.rst,*.html}]
indent_size = 1
max_line_length = off

[{*.csv,*.html}]
max_line_length = off

[{*.sh,*.py}]
indent_size = 4

[{Makefile,*.mk}]
indent_size = 4
indent_style = tab

[*.md5sum]
max_line_length = off

[{template.json,dispatch.yaml}]
max_line_length = off

[docusaurus.config.js]
max_line_length = off

# TODO: Remove this (only needed for one temporary commit)
[website/src/theme/*/*.js]
max_line_length = off

[website/redirects/*.txt]
max_line_length = off

[.brokdb]
max_line_length = off

[.gitbook.yaml]
max_line_length = off

[.markdown-link-check.json]
max_line_length = off

[.textlintrc.yaml]
max_line_length = 82

[LICENSE]
indent_size = 2

[COMMIT_EDITMSG]
max_line_length = 72
