/*
@import url(./doit-light.css);
@import url(./infirma-light.css);
*/

/* Announcement bar */

div[role='banner'] {
  background: var(--ifm-color-content);
}

div[role='banner'] div {
  color: var(--ifm-color-white);
  font-weight: var(--ifm-font-weight-semibold);
  max-width: 90vw !important;
  margin: 0 auto;
  white-space: nowrap;
}

.close {
  color: var(--ifm-color-white);
}

/*
[data-theme='light'] div[role='banner'] {
  background-color: var(--ifm-font-color-base);
  color: var(--ifm-color-white);
}

[data-theme='dark'] div[role='banner'] {
  background-color: var(--ifm-font-color-base);
  color: var(--ifm-color-black);
}
*/

/* Announcement bar close button */

/*
[data-theme='light'] .close {
  color: var(--ifm-color-white);
}

[data-theme='dark'] .close {
  color: var(--ifm-color-black);
}
*/

/* Navigation bar */

/*
.header-github-link {
  editorconfig-checker-disable-next-line
  transition: all var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.header-github-link:hover {
  transform: scale(1.1);
}
*/

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url(/assets/logos/github.svg) no-repeat;
}

.navbar__logo img,
.theme-doc-sidebar-container a img {
  /* editorconfig-checker-disable-next-line */
  transition: all var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.navbar__logo img:hover,
.theme-doc-sidebar-container a img:hover {
  transform: scale(1.1);
}

.navbar__brand:hover {
  color: var(--ifm-font-color-base);
}

.navbar__link {
  white-space: nowrap;
}

.docs-doc-page .navbar {
  border: none;
}

.hero,
.footer {
  border-width: 4px 0;
  border-style: solid;
  /* editorconfig-checker-disable-next-line */
  border-image: linear-gradient(
      90deg,
      rgb(59, 64, 181) 0.8%,
      rgb(213, 26, 78) 99.1%
    )
    1 / 1 / 0 stretch;
}

.footer {
  border-bottom: 0;
}

/*
background: linear-gradient(
  83.73deg,
  rgba(252, 49, 101, 0.96) -12.1%,
  rgba(59, 64, 181, 0.96) 58.08%,
  rgba(42, 185, 189, 0.96) 99.18%
);
*/

/* TOC */

/*
[class*="docs-doc-id-flexsave"] .theme-doc-toc-desktop {
  background-image: url(/img/icons/flexsave.svg);
  background-repeat: no-repeat;
  background-position: top right 10px;
  background-size: 53px 53px;
}
*/

/* Document tabs bar  */

.tabs {
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

/* Markdown */

.overflow_container {
  overflow: scroll;
}

.overflow_content {
  width: -moz-fit-content;
  width: fit-content;
}

/*
.markdown a {
  text-decoration: underline;
}
*/

/* Zoom CSS fix */

.medium-zoom-overlay,
.medium-zoom-image {
  z-index: 9999;
}

/* Image frames */

.drop-shadow img {
  /*

  TODO: Figure out how to emulate existing images

  margin-left: 2rem;
  margin-right: 3rem;

  */
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

/* Pagination */

/*
.pagination-nav__link {
  color: var(--doit-color-primary-spark);
}
*/

/* Customizations for the front page grid */

#front-page .container,
.footer .container {
  padding: var(--ifm-spacing-vertical-2x) 0;
  margin: 0 auto;
  /* editorconfig-checker-disable-next-line */
  transition: all var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

#front-page .container h2 {
  margin-bottom: var(--ifm-spacing-vertical-2x);
}

#front-page .row,
.footer .row {
  margin: 0;
  display: flex;
}

#front-page .col,
.footer .col {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.footer {
  padding: 0;
  margin: 0;
}

.footer__title,
.footer__item {
  white-space: nowrap;
}

.footer__bottom > div {
  margin: 0 !important;
}

.footer__bottom > div a {
  display: block;
}

.footer__bottom a {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.footer__bottom img {
  margin: 0;
}

.footer_logo {
  max-width: 160px;
}

@media screen and (max-width: 995px) {
  #front-page .container,
  .footer .container {
    width: 90vw;
    max-width: 750px;
  }

  .footer .container {
    overflow: hidden;
  }

  #front-page .row,
  .footer .row {
    flex-direction: column;
  }

  #front-page .row + .row,
  .footer .row + .row {
    margin-top: var(--ifm-spacing-vertical-2x);
  }

  #front-page .col + .col,
  .footer .col + .col {
    margin-top: var(--ifm-spacing-vertical-2x);
  }

  .footer .row {
    float: left;
  }

  .footer__items {
    margin-bottom: var(--ifm-heading-margin-bottom);
  }

  .footer__bottom {
    float: right;
    margin: 0 !important;
  }
}

@media screen and (min-width: 996px) {
  #front-page .row,
  .footer .row {
    flex-direction: row;
  }

  #front-page .row + .row,
  .footer .row + div {
    margin-top: var(--ifm-spacing-vertical-4x);
  }

  #front-page .col + .col,
  .footer .col + .col {
    margin-left: var(--ifm-spacing-vertical-4x);
  }

  #front-page .container,
  .footer .container {
    padding: var(--ifm-spacing-vertical-2x) var(--ifm-spacing-vertical-4x);
  }
}

/* Footer colors */

.footer a:hover {
  color: var(--ifm-footer-link-color);
}

/* DocSearch */

.DocSearch-Modal {
  max-width: 750px !important;
}

@media screen and (min-width: 750px) {
  .DocSearch-Modal {
    margin: 85px auto auto !important;
  }
}

@media screen and (max-width: 750px) {
  .DocSearch-Modal {
    position: fixed !important;
  }
}

.hero .DocSearch-Button {
  padding: 0 20px !important;
  height: 70px !important;
  width: 90vw;
  border-radius: 4px !important;
  max-width: 750px;
  background: var(--doit-color-off-white) !important;
}

.hero .DocSearch-Button:hover {
  color: var(--docsearch-muted-color) !important;
  box-shadow: none !important;
}

.hero .DocSearch-Button .DocSearch-Button-Placeholder {
  font-size: 1.5rem !important;
}

.hero .DocSearch-Search-Icon {
  height: 25px;
  width: 25px;
}

.hero .DocSearch-Button-Key {
  height: 25px;
  width: 25px;
}

.navbar .DocSearch-Button:active,
.navbar .DocSearch-Button:focus,
.navbar .DocSearch-Button:hover {
  color: #969faf !important;
}

/* We have a paid account and run the crawler ourselves, so we are not required
to display the Algolia logo */

.DocSearch-Footer {
  flex-direction: row !important;
}

.DocSearch-Logo {
  display: none;
}
