/* Infirma CSS framework configuration */

:root {
  --ifm-color-primary: none;
  --ifm-color-primary-dark: none;
  --ifm-color-primary-darker: none;
  --ifm-color-primary-darkest: none;
  --ifm-color-primary-light: none;
  --ifm-color-primary-lighter: none;
  --ifm-color-primary-lightest: none;
  --ifm-color-primary-contrast-background: none;
  --ifm-color-primary-contrast-foreground: none;

  --ifm-color-secondary: none;
  --ifm-color-secondary-dark: none;
  --ifm-color-secondary-darker: none;
  --ifm-color-secondary-darkest: none;
  --ifm-color-secondary-light: none;
  --ifm-color-secondary-lighter: none;
  --ifm-color-secondary-lightest: none;
  --ifm-color-secondary-contrast-background: none;
  --ifm-color-secondary-contrast-foreground: none;

  --ifm-color-success: none;
  --ifm-color-success-dark: none;
  --ifm-color-success-darker: none;
  --ifm-color-success-darkest: none;
  --ifm-color-success-light: none;
  --ifm-color-success-lighter: none;
  --ifm-color-success-lightest: none;
  --ifm-color-success-contrast-background: none;
  --ifm-color-success-contrast-foreground: none;

  --ifm-color-info: none;
  --ifm-color-info-dark: none;
  --ifm-color-info-darker: none;
  --ifm-color-info-darkest: none;
  --ifm-color-info-light: none;
  --ifm-color-info-lighter: none;
  --ifm-color-info-lightest: none;
  --ifm-color-info-contrast-background: none;
  --ifm-color-info-contrast-foreground: none;

  --ifm-color-warning: none;
  --ifm-color-warning-dark: none;
  --ifm-color-warning-darker: none;
  --ifm-color-warning-darkest: none;
  --ifm-color-warning-light: none;
  --ifm-color-warning-lighter: none;
  --ifm-color-warning-lightest: none;
  --ifm-color-warning-contrast-background: none;
  --ifm-color-warning-contrast-foreground: none;

  --ifm-color-danger: none;
  --ifm-color-danger-dark: none;
  --ifm-color-danger-darker: none;
  --ifm-color-danger-darkest: none;
  --ifm-color-danger-light: none;
  --ifm-color-danger-lighter: none;
  --ifm-color-danger-lightest: none;
  --ifm-color-danger-contrast-background: none;
  --ifm-color-danger-contrast-foreground: none;

  --ifm-color-white: #fff;
  --ifm-color-black: #000;

  --ifm-color-gray-0: var(--ifm-color-white);
  --ifm-color-gray-100: none;
  --ifm-color-gray-200: none;
  --ifm-color-gray-300: none;
  --ifm-color-gray-400: none;
  --ifm-color-gray-500: none;
  --ifm-color-gray-600: none;
  --ifm-color-gray-700: none;
  --ifm-color-gray-800: none;
  --ifm-color-gray-900: none;
  --ifm-color-gray-1000: var(--ifm-color-black);

  --ifm-color-emphasis-0: var(--ifm-color-gray-0);
  --ifm-color-emphasis-100: var(--ifm-color-gray-100);
  --ifm-color-emphasis-200: var(--ifm-color-gray-200);
  --ifm-color-emphasis-300: var(--ifm-color-gray-300);
  --ifm-color-emphasis-400: var(--ifm-color-gray-400);
  --ifm-color-emphasis-500: var(--ifm-color-gray-500);
  --ifm-color-emphasis-600: var(--ifm-color-gray-600);
  --ifm-color-emphasis-700: var(--ifm-color-gray-700);
  --ifm-color-emphasis-800: var(--ifm-color-gray-800);
  --ifm-color-emphasis-900: var(--ifm-color-gray-900);
  --ifm-color-emphasis-1000: var(--ifm-color-gray-1000);

  --ifm-color-content: var(--ifm-color-emphasis-900);
  --ifm-color-content-inverse: var(--ifm-color-emphasis-0);
  --ifm-color-content-secondary: none;
}
