.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

@media screen and (max-width: 680px) {
  .features {
    flex-direction: column;
  }
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.feature {
  padding-right: 5%;
}
@media screen and (min-width: 680px) {
  .feature {
    width: 33%;
  }
}

.features_container {
  background-color: #fcfcfc;
}

.features_container_inner {
  margin: 0 9%;
}
