.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.feature {
  padding-right: 5%;
}

.features_container {
  background-color: #fcfcfc;
}

.features_container_inner {
  margin: 0 9%;
}
