.learn_more_container {
  display: flex;
}

@media screen and (max-width: 680px) {
  .learn_more_container {
    flex-direction: column;
  }
}

.learn_more_wrapper {
  margin: 0 9%;
  padding-top: 56px;
  padding-bottom: 100px;
}
