.learn_more_container {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  width: 33%;
}

.learn_more_wrapper {
  margin: 0 4%;
  padding: 28px;
}

@media screen and (min-width: 996px) {
  .learn_more_container {
    padding: 2rem 0;
    width: 100%;
  }

  .learn_more_wrapper {
    margin: 0 8%;
    padding: 56px 0;
  }
}

@media screen and (max-width: 996px) {
  .learn_more_container {
    flex-direction: column;
  }
}
