.admonition {
  margin-bottom: 1em;
}

.admonitionHeading {
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  font-size: var(--ifm-h5-font-size);
  line-height: var(--ifm-heading-line-height);
  margin-bottom: 0.3rem;
}

.admonitionHeading code {
  text-transform: none;
}

.admonitionIcon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4em;
}

.admonitionIcon svg {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  fill: var(--ifm-alert-border-color);
  filter: brightness(1);
}

.admonitionContent > :last-child {
  margin-bottom: 0;
}
