.link_list {
  width: 100%;
  padding-right: 5%;
}

.link_list ul {
  padding-left: 0;
  margin: 0;
}

.link_list li {
  list-style: none;
  line-height: 2;
}

@media screen and (min-width: 996px) {
  .link_list {
    width: 33%;
  }
}
