.contact_support {
  background: var(--doit-color-off-white);
}

.contact_support_cta {
  text-align: center;
  margin: auto !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  max-width: 40em;
}

.contact_support_cta h2 {
  margin-bottom: var(--ifm-spacing-vertical) !important;
  font-size: var(--ifm-h1-font-size);
  font-weight: var(--ifm-font-weight-normal);
  text-align: center;
}
