.contact_container {
  background: #fcfcfc;
  padding: 1rem 0;
}

.contact {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 28px 0;
  margin: 0 4%;
}

.contact_title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.25px;
}

.contact_button {
  background-color: #007dff;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-width: 0;
  width: 139px;
  height: 36px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

@media screen and (min-width: 996px) {
  .contact_container {
    padding: 2rem 0;
  }

  .contact {
    padding: 56px 0;
    margin: 0 8%;
  }
}

@media screen and (max-width: 996px) {
  .contact {
    max-width: 440px;
    margin: auto;
  }
}
