.hero_banner {
  padding: var(--ifm-spacing-vertical-4x) 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    83.73deg,
    rgba(252, 49, 101, 0.96) -12.1%,
    rgba(59, 64, 181, 0.96) 58.08%,
    rgba(42, 185, 189, 0.96) 99.18%
  );
}

.hero_title {
  color: white;
  font-weight: var(--ifm-font-weight-normal);
}
