.cards_container {
  padding: 0 20px;
}

.getting_started_container {
  margin: 0 4%;
  padding: 28px;
}

@media screen and (min-width: 996px) {
  .cards_container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 56px;
  }

  .getting_started_container {
    margin: 0 8%;
    padding: 56px 0;
  }
}
